'.source.lua':
  'ADC read pin':
    'prefix': 'adcre'
    'body': 'adc.read(${0:channel})'
  'ADC read system voltage':
    'prefix': 'adcrs'
    'body': 'adc.readvdd33()'
  'ADC force init mode':
    'prefix': 'adcmin'
    'body': 'adc.read_init_mode(${0:mode_value})'
  'ADC init adc constants':
    'prefix': 'adcmadc'
    'body': 'adc.INIT_ADC'
  'ADC init vdd33 constants':
    'prefix': 'adcmvdd'
    'body': 'adc.INIT_VDD33'