'.source.lua':
  'BMP085 initialize':
    'prefix': 'bmp085in'
    'body': 'bmp085.init(${1:sca}, ${2:scl})$0'
  'BMP085 get tempurature':
    'prefix': 'bmp085temp'
    'body': 'bmp085.temperature()$0'
  'BMP085 get pressure':
    'prefix': 'bmp085pres'
    'body': 'bmp085.pressure(${1:oversampling_rate})$0'
  'BMP085 get raw pressure':
    'prefix': 'bmp085rpres'
    'body': 'bmp085.pressure_raw(${1:oversampling_rate})$0'
