'.source.lua':
  'crypto encrypt':
    'prefix': 'crypten'
    'body': 'crypto.encrypt(${1:algo}, ${2:key}, ${3:plain}, ${4:iv})'
  'crypto decrypt':
    'prefix': 'cryptde'
    'body': 'crypto.decrypt(${1:algo}, ${2;key}, ${3:cipher}, ${4:iv)'
  'crypto file hash':
    'prefix': 'cryptfhash'
    'body': 'crypto.fhash(${1:algo}, ${2:filename})'
  'crypto hash':
    'prefix': 'crypthash'
    'body': 'crypto.hash(${1:algo}, ${2:string})'
  'crypto new hash':
    'prefix': 'cryptnhash'
    'body': 'crypto.new_hash(${0:algo})'
  'crypto update hash/hmac':
    'prefix': 'cryptup'
    'body': ':update("${0:string}")'
  'crypto finalize hash/hmac':
    'prefix': 'cryptfin'
    'body': ':finalize()'
  'crypto hmac':
    'prefix': 'crypthmac'
    'body': 'crypto.hmac(${1:algo}, ${2:string}, ${3:key})'
  'crypto new hmac':
    'prefix': 'cryptnhmac'
    'body': 'crypto.new_hmac(${1:algo}, ${2:key})'
  'crypto mask':
    'prefix': 'cryptmask'
    'body': 'crypto.mask(${1:message}, ${2:mask})'
  'crypto to base64':
    'prefix': 'cryptobase64'
    'body': 'crypto.toBase64(${0:binary})'
  'crypto to hex':
    'prefix': 'cryptohex'
    'body': 'crypto.toHex(${0:binary})'