'.source.lua':
  'GPIO set mode':
    'prefix': 'gpiomo'
    'body': 'gpio.mode(${1:pin}, ${2:mode}${3:, ${4:pullup}})$0'
  'GPIO read':
    'prefix': 'gpiore'
    'body': 'gpio.read(${1:pin})$0'
  'GPIO serialize output':
    'prefix': 'gpioser'
    'body': 'gpio.serialize(${1:pin}, ${2:start_level}, ${3:delay_times}${4:, ${5:cycle_num}}${6:, ${7:function()\r\n\t ${8:...callback...}\r\nend)}})$0'
  'GPIO interrupt trigger':
    'prefix': 'gpiointtri'
    'body': 'gpio.trig(${1:pin}${2:, ${3:type}}${4:, ${5:function()\r\n\t ${6:...callback...}\r\nend)}})$0'
  'GPIO write':
    'prefix': 'gpiowr'
    'body': 'gpio.write(${1:pin}, ${2:level})$0'
  'GPIO high constants':
    'prefix': 'gpiohi'
    'body': 'gpio.HIGH$0'
  'GPIO low constants':
    'prefix': 'gpiolo'
    'body': 'gpio.LOW$0'
  'GPIO output constant':
    'prefix': 'gpioout'
    'body': 'gpio.OUTPUT$0'
